/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  background:#333333;
}
#container{
  margin:1% auto;
  width:50%;
  background:#d6d6d6;
  border-radius: 25px;
  padding:1%;
  color:#353535
}

#notes{
  width:100%;
}